body{
    background-color: rgb(240, 201, 26);
}

.container-marketing{
    background-color: rgb(255, 231, 122);
    border-radius: 20px;
    padding: 10px 10px 10px 20px;
    justify-content: center;
    align-content: center;
    margin: 25px 20px 10px 20px;
}

.container-marketing img{
    max-height: 40vh;
    max-width: 450px;
    min-width: 100px;
    border-radius: 10px;
}


/* RESPONSIVENESS */
@media screen and (min-width: 768px) and (max-width: 1000px){
    .container-marketing img{
        /* max-height: 40vh; */
        max-width: 350px;
    }
}

@media screen and (max-width: 500px){
    .container-marketing img{
        /* max-height: 40vh; */
        max-width: 278px;
        margin-bottom: 20px;
    }
}

#robot-icon {
    position: fixed;
    bottom: 10px; /* Adjust distance from the bottom */
    right: 10px; /* Adjust distance from the right */
    font-size: 30px; /* Adjust icon size */
    color: #000; /* Change the color */
    cursor: pointer; /* Optional: Add pointer for hover effect */
    background-color: rgb(228, 218, 135);
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    border: 2px solid #000;
}